.view-page {
  max-width: 768px;
  margin: 0 auto;
}

.page-header{
  background-color: #464646;
  margin: 0;
  padding: 20px;
  color: #fff;
}

.product-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  border: 1px solid #E6E6E6;
  flex: 1 40%;
  margin: 10px;
  padding: 0;
  background-color: #F5F0F0;
}

.product-image img {
    margin: 0 auto;
}

.product-details {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.product-details-name {
  flex: 1 1 50%;
  margin: 10px;
  padding: 10px 0;
  font-size: 18px;
  color: #333;
}

.product-details-price {
  margin: 10px;
  background-color: #333;
  padding: 10px;
  color: #fff;
  line-height: 2;
}

@media (min-width: 768px) {
  .product-list {
    flex-direction: row;
  }
}
